[Unit]
Description=Music Tracks Sync Timer - every 30 minutes
Requires=music-tracks.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Unit=music-tracks.service

[Install]
WantedBy=timers.target personal-services.target
