[submodule "workspace/tests/test_helper/bats-support"]
	path = workspace/tests/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "workspace/tests/test_helper/bats-assert"]
	path = workspace/tests/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "workspace/tools/helpful-tools-v2"]
	path = workspace/tools/helpful-tools-v2
	url = git@github.com:susamn/helpful-tools-v2.git
[submodule "workspace/tools/performance-manager"]
	path = workspace/tools/performance-manager
	url = git@github.com:susamn/performance-manager.git
[submodule "workspace/aistuff"]
	path = workspace/aistuff
	url = git@github.com:susamn/skills.git
[submodule "workspace/tools/linux-system-manager"]
	path = workspace/tools/linux-system-manager
	url = git@github.com:susamn/linux-system-manager.git
[submodule ".config/_secured"]
	path = .config/_secured
	url = git@github.com:susamn/_secured.git
[submodule "workspace/tools/mosaic"]
	path = workspace/tools/mosaic
	url = git@github.com:susamn/mosiac.git
