[include]
        path = ~/.gituser 

[core]
        editor = vim 
        excludesfile = ~/.gitignore_global
        autocrlf = input

[alias]
        st = status -sb
        co = checkout
        br = branch
        ci = commit
        di = diff
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        last = log -1 HEAD
        tree = log --graph --decorate --oneline
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        amend = commit --amend --no-edit  # Amend the last commit without changing the message
        unstage = reset HEAD --  # Unstage a file while keeping changes
        hr = "!f() { read -p 'Proceed with hard reset? (Y/n) ' ans; if [[ \"$ans\" == \"Y\" ]]; then git reset --hard; else echo 'Aborted.'; fi; }; f" # Hard reset
        copy-hooks = !cp -r ~/.git-templates/hooks/* .git/hooks/
	assume = !git update-index --assume-unchanged
	unassume = !git update-index --no-assume-unchanged
	assumed = !git ls-files -v | grep \"^[a-z]\"



[push]
        default = simple
        forceWithLease = true
[fetch]
        prune = true

[pull]
        rebase = false # or true, depending on preference

[commit]
        template = ~/.gitmessage

[color]
        ui = true

[merge]
        tool = vimdiff # or your preferred merge tool (e.g., meld, code --wait --diff)

[diff]
        tool = vimdiff # or your preferred diff tool

[init]
        templatedir = ~/.git-templates
        defaultBranch = main # or your preferred default branch name

[gpg]
        program = gpg

[commit]
        gpgsign = false # set to true if you want to sign commits by default
[user]
	name = Supratim Samanta
	email = supratim.iee23.ju2005@gmail.com
