@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @on_surface;
}

tooltip {
    background: @background;
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: @on_surface;
}

#workspaces {
    background: @surface_container;
    border-radius: 100px;
    padding: 2px 8px;
    margin: 5px;
}

#workspaces button {
    padding: 4px 10px;
    background: transparent;
    color: @on_surface_variant;
    border-radius: 100px;
    margin: 0 3px;
    transition: all 0.3s ease;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#workspaces button:hover {
    background: @surface_container_high;
    color: @on_surface;
}

#network,
#pulseaudio,
#clock,
#battery {
    padding: 2px 12px;
    margin: 5px;
    border-radius: 100px;
    background-color: @primary;
    color: #121212;
}
